<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="/static/contato.css">
</head>
<body>
    <!-- Alinhamento do conteúdo -->
    <div class="assunto">

        <!-- Conteúdo do formulário -->
        <div class="alinharformulario">

            <!--Fundo do formulário -->
            <div class="fundopretoformulario">

                <!-- Formulário e botão -->
                <form action="/mensagem">
                    <label for="mensagem">Me envie uma menssagem</label>
                    <input class="mensagem" type="mensagem"> 
                    
                    <!-- Botões do formulário (cancelar e enviar) -->
                    <div class="botoes">
                        <button class="botaocancelar" type="button" onclick="window.location.href='/';"><b>Cancelar</b></button>
                        <button class="botaoenviar" type="submit"><b>Enviar</b></button>
                    </div>

                </form>

            </div>
        </div>

        <!-- Informações de contato -->
        <div class="alinharcontato">

            <div class="infcontato">
                <p class="titulo">Nome:</p>
                <p>Joaozinho do GrauTec</p>
            </div>
    
            <div class="infcontato">
                <p class="titulo">E-mail:</p>
                <p>Jaozindugrautec@hotmail.com</p>
            </div>
    
            <div class="infcontato">
                <p class="titulo">Contato:</p>
                <p>(12) 0 1234-5678</p>
            </div>
    
            <div class="infcontato"> 
                <p class="titulo">Instagram:</p>
                <p>@Juaozinhdugrautec.ofc</p>
            </div>

    </div>
</body>
</html>