<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!-- alinhamento do conteúdo -->
    <div class="espaco">

        <!-- Campo de foto e botão na foto -->
        <div class="divdafoto">
            <img class="img" src="/static/foto 3x4.jpg" alt="">

            <!-- Botão da foto-->
            <div class="botaodafoto">
                <a href="/contato">
                    <button><b>Enviar Mensagem</b></button>
                </a>
            </div>
        </div>

        <!-- Campo do texto e botão do texto -->
        <div  class="texto">

            <!-- Texto de apresentação-->
            <div>
                <p>Olá, sou <b>joãozinho do GrauTec,</b> atualmente estou estudando sobre TI, algo muito interessante, também estou aplicando um pouco do meu conhecimento em meu novo trabalho.</p>
                
            </div>

            <!--botão do texto -->
            <div class="divbotaodotexto">
                <!-- Botão para segunda página -->
                <a href="/contato">
                    <button class="botaodotexto"><b>Contato</b></button>
                </a>
            </div>
        </div>

    </div>
</body>
</html>